/*CAMBIOS EN EL NAV CON BOOTSTRAP */
.bodyColor {
  background-color: #f8e4b0;
}
/*cambio de color del nav*/
.bg-durazno {
  background-color: #f8e4b0;
}
/*cambios en el  nav*/
.redondo{
  border-radius: 150px;
}
.navbar {
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}
.navbar-nav {
  --bs-navbar-color: #ff914d;
  --bs-navbar-hover-color: #ff914d;
  --bs-navbar-disabled-color: #ff914d;
  --bs-navbar-active-color: #ff914d;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #ff914d;
  --bs-navbar-brand-hover-color: #ff914d;
  --bs-navbar-toggler-border-color: #ff914d;
}
.card-text {
  font-family: "Dosis", sans-serif;
  font-size: large;
  color: #ff914d;
  margin-top: 40px;
}
.card-body {
  background-color: #f8e4b0;
  color: #ff914d;
}

/*TRANSICION*/
.menuPrincipal img:hover {
  width: 350px;
  height: 350px;
}
/*HORARIO DEBAJO DEL NAV*/
.horarioCopal {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
  border-radius: 10px;
}
/*LLAMADO A LA ACCION*/
.textoEncarga {
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: white;
  background-color: #ff914d;
  border-radius: 10px;
  margin-top: 20px;
}
.logoWhatsapp {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 20px;
}
/*SEGUINOS EN REDES*/
.moverLoguitos {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  color: white;
  background-color: #f4c553;
  border-radius: 10px;
}
.moverLoguitos img {
  width: 80px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

/*PAGINA RECETAS*/
.recetasCopaleras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*PAGINA CONTACTO*/
.formularioContacto {
  font-weight: 200;
  color: orangered;
  text-align: center;
  margin: 10px;
  font-size: 30px;
}
.correito {
  margin-left: 10px;
}
.telefonito {
  margin-right: 7px;
}
.mensajito {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.mensajitoDos {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.botones input {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-color: #8cc85a;
  background-color: #8cc85a;
}
.arregloFormulario {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-color: orangered;
  background-color: #8cc85a;
}
.dondeEstamos {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
}
/*FLEX Y MEDIA QUERIE A CONTACTOS*/
.dondeEstamos1 {
  display: flex;
  flex-direction: row;
  margin-left: 430px;
  border: dashed 3px #ff914d;
  padding: 30px;
}



/*flexbox a galeria*/
.flexgaleriaUno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imagenUno,
.imagenDos,
.imagenTres {
  height: 500px;
  width: 350px;
  padding: 20px;
  border: dashed 3px #8cc85a;
}
.imagenCuatro,
.imagenSeis {
  height: 350px;
  width: 450px;
  padding: 10px;
  border: dashed 3px #8cc85a;
}
.imagenCinco {
  height: 400px;
  width: 250px;
  padding: 10px;
  border: dashed 3px #8cc85a;
}
.flexgaleriaDos {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
