<<<<<<< HEAD
/*cambio de color del nav y body
=======

/*cambio de color del nav*/
>>>>>>> bootstrap
.bg-durazno {
  background-color: #f8e4b0;
}*/
/*LOGO DEL NAV*
.redondo {
  border-radius: 150px;
}/
/*EL NAVBAR 
.navbar {
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}
<<<<<<< HEAD
/*COPIE DEL INSPECTOR Y CAMBIE LOS COLORES DEL NAVBAR
=======
/*cambios en el  nav*/
.redondo {
  border-radius: 150px;
}
.navbar {
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}
/*COPIE DEL INSPECTOR Y CAMBIE LOS COLORES*/
>>>>>>> bootstrap
.navbar-nav {
  --bs-navbar-color: #ff914d;
  --bs-navbar-hover-color: #ff914d;
  --bs-navbar-disabled-color: #ff914d;
  --bs-navbar-active-color: #ff914d;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #ff914d;
  --bs-navbar-brand-hover-color: #ff914d;
  --bs-navbar-toggler-border-color: #ff914d;
<<<<<<< HEAD
} */
/*TITULOS DEBAJO DEL NAV DE TODAS LAS PAGINAS
=======
}
/*CAMBIOS EN EL NAV CON BOOTSTRAP */
.bodyColor {
  background-color: #f8e4b0;
}
/*TEXTO DE LAS CARDS DEL INDEX*/
.card-text {
  font-family: "Dosis", sans-serif;
  font-size: large;
  color: #ff914d;
  margin-top: 40px;
}
.card-body {
  background-color: #f8e4b0;
  color: #ff914d;
}
/*TEXTO ARRIBA DE REDES SOCIALES EN LAS 5 PAGINAS*/
.colorWsp {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
  border-radius: 100px;
}
.iconWsp {
  border-radius: 20px;
}
/*HORARIO DEBAJO DEL NAV, ESTO NO ESTA CAMBIADO*/
>>>>>>> bootstrap
.horarioCopal {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
  border-radius: 10px;
}*/
/*MAIN(parrafo+foto)INDEX CON FLEX
.mainIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
<<<<<<< HEAD
/*parrafo del index
.parrafoUno {
  display: flex;
  flex-direction: row;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  align-items: center;
  color: orangered;
  font-weight: 100;
}
/*Imagen del index
.fotoUno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  width: 250px;
}*/
/*media queries del main index
@media screen and (max-width: 768px) {
  .mainIndex {
    flex-direction: column;
  }
  .parrafoUno {
    flex-direction: column;
    margin-left: 10px;
  }
  .fotoUno {
    flex-direction: column;
    margin-left: 30px;
  }
  .redondo {
    height: 150px;
    border-radius: 150px;
  }
}*/
/*TODOS LOS FOOTER
.textoEncarga {
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: white;
  background-color: #ff914d;
  border-radius: 10px;
  margin-top: 20px;
}
.logoWhatsapp {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.moverLoguitos {
  font-family: "Dosis", sans-serif;
  text-align: center;
=======
.fotosGaleria {
  height: 500px;
  width: 1040px;
}
/*NUEVA CLASS PARA EL FORMULARIO DE CONTACTO*/
.claseFormu {
  font-family: "Dosis", sans-serif;
  color: #ff914d;
  font-weight: 100;
>>>>>>> bootstrap
  font-size: 30px;
}
/*CAMBIOS EN EL BOTON ENVIAR DEL FORMULARIO DE CONTACTO*/
.botonEnviar {
  background-color: #ff914d;
  color: white;
  border-color: #ff914d;
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
}
<<<<<<< HEAD
.moverLoguitos img {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}*/
/*PAGINA SEVICIOS
.mainServicios{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*PARRAFO DEL MAIN DE SERVICIOS
.parrafoServicios{
  align-self: center;
  font-family: "Dosis", sans-serif;
  color: orangered;
  font-size: 25px;
}*/
/*
@media screen and (max-width:1024px) {
  .mainServicios{
    flex-direction: column;
  }
  .parrafoServicios{
    font-family: "Dosis", sans-serif;
    color: orangered;
    font-size: 25px;
    margin-left: 10px;
  }
}
*/
/*PAGINA RECETAS UNICA IMAGEN
=======
/*ESTILO AL MAPA*/
.bordeMapa {
  border-radius: 15px;
}
.claseGaleria{
  margin-top: 80px;
  margin-bottom: 80px;
}
/*PAGINA RECETAS*/
>>>>>>> bootstrap
.recetasCopaleras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}*/

/*flexbox AL MAIN DE LA GALERIA
.flexgaleriaUno {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.imagenUno,
.imagenDos,
.imagenTres {
  height: 500px;
  width: 350px;
  padding: 20px;
  border: dashed 3px #8cc85a;
}*/
/*MEDIA A LA GALERIA
@media screen and (max-width: 768px) {
  .flexgaleriaUno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  } 
}*/
/*PAGINA CONTACTO, formulario
.formularioContacto {
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  color: orangered;
  margin: 30px;
  font-size: 20px;
}*/
/*ARREGLO DE CADA UNO DE LOS BOTONES DEL FORMULARIO
.nombresito input{
  background-color: #f8e4b0;
  color: orangered;
  font-size: 15px;
  font-weight: 100;
  margin-left: 5px;
}
.telefonito input{
  background-color: #f8e4b0;
  color: orangered;
  font-size: 15px;
  font-weight: 100;
  margin-left: 2px;
}
.correito input {
  background-color: #f8e4b0;
  color: orangered;
  font-size: 15px;
  font-weight: 100;
  margin-left: 15px;
}
textarea{
  background-color: #f8e4b0;
  color: orangered; 
  font-weight: 100;
}
.mensajito {
  display: flex;
  font-family: "Dosis", sans-serif;
  font-weight: 100;
  color: orangered;
  margin-left: 2px;
  font-size: 20px;
}
.arregloFormulario {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  color: white;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border-color: orangered;
  background-color: #8cc85a;
}
.botones input {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  color: white;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border-color: #8cc85a;
  background-color: #8cc85a;
}

/*IFRAME DE CONTACTO
.dondeEstamos {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
  border-radius: 10px;
}
.dondeEstamos1 {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  border: dashed 3px #ff914d;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .dondeEstamos1 {
    flex-direction: column;
    margin-left: 5px;
    width: 300px;
    height: 250px;
    border: none;
    padding: 0px;
  }
}
*/
=======
}
/*ARREGLO DEL TEXTO DE PAG SERVICIOS*/
.colorTexto{
  font-family: "Dosis", sans-serif;
  font-size:larger;
  color:white;
  margin-top: 40px;
  background-color: #ff914d;
  padding:20px;
  justify-content: center;
}
>>>>>>> bootstrap
