/*CAMBIOS EN EL NAV CON BOOTSTRAP */
.bodyColor {
  background-color: #f8e4b0;
}
/*cambio de color del nav*/
.bg-durazno {
  background-color: #f8e4b0;
}
/*cambios en el  nav*/
.redondo {
  border-radius: 150px;
}
.navbar {
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}
/*COPIE DEL INSPECTOR Y CAMBIE LOS COLORES*/
.navbar-nav {
  --bs-navbar-color: #ff914d;
  --bs-navbar-hover-color: #ff914d;
  --bs-navbar-disabled-color: #ff914d;
  --bs-navbar-active-color: #ff914d;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #ff914d;
  --bs-navbar-brand-hover-color: #ff914d;
  --bs-navbar-toggler-border-color: #ff914d;
}
/*TEXTO DE LAS CARDS DEL INDEX*/
.card-text {
  font-family: "Dosis", sans-serif;
  font-size: large;
  color: #ff914d;
  margin-top: 40px;
}
.card-body {
  background-color: #f8e4b0;
  color: #ff914d;
}
.colorWsp {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
  border-radius: 100px;
}
.iconWsp {
  border-radius: 20px;
}
/*HORARIO DEBAJO DEL NAV, ESTO NO ESTA CAMBIADO*/
.horarioCopal {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
  border-radius: 10px;
}
.fotosGaleria {
  height: 500px;
  width: 1040px;
}
/*NUEVA CLASS PARA EL FORMULARIO DE CONTACTO*/
.claseFormu {
  font-family: "Dosis", sans-serif;
  color: #ff914d;
  font-weight: 100;
  font-size: 30px;
}
/*CAMBIOS EN EL BOTON ENVIAR DEL FORMULARIO DE CONTACTO*/
.botonEnviar {
  background-color: #ff914d;
  color: white;
  border-color: #ff914d;
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
}
/*ESTILO AL MAPA*/
.bordeMapa {
  border-radius: 15px;
}
.claseGaleria{
  margin-top: 80px;
  margin-bottom: 80px;
}
/*PAGINA RECETAS*/
.recetasCopaleras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

