/*Variables de color del Body*/
/*Variables de color de las letras*/
/*el Titulo (debajo del nav) y de los Footers*/
/*Variable color naranja*/
/*Condicionales*/
.horarioCopal {
  background-color: #ff914d; }

/*map get ()*/
/*declara el map*/
/*EXTEND*/
/*ARREGLO DEL TEXTO DE PAG SERVICIOS*/
.colorTexto, .claseFormu {
  font-family: "Dosis", sans-serif;
  font-size: larger;
  color: #ff914d;
  margin-bottom: 20px;
  justify-content: center; }

.claseFormu {
  font-size: medium; }

/*mixin con parametro*/
.claseGaleria {
  margin-top: 80px;
  margin-bottom: 80px; }

/*ACA ESTAN LOS ESTILOS QUE SE COMPARTEN EN TODAS LAS PAGINAS*/
/*cambio de color del nav y body*/
.bg-durazno {
  background-color: #f8e4b0; }

/*mi logo en el NAVBAR*/
.redondo {
  border-radius: 150px; }

/*el NAVBAR  de Bootstrap */
.navbar {
  font-family: "Dosis", sans-serif;
  font-size: x-large; }

/*cambio de colores del navbar*/
.navbar-nav {
  --bs-navbar-color: #ff914d;
  --bs-navbar-hover-color: #ff914d;
  --bs-navbar-disabled-color: #ff914d;
  --bs-navbar-active-color: #ff914d;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #ff914d;
  --bs-navbar-brand-hover-color:#ff914d;
  --bs-navbar-toggler-border-color:#ff914d; }

/*TITULOS DEBAJO DEL NAV DE TODAS LAS PAGINAS */
.horarioCopal {
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  background-color: #ff914d;
  border-radius: 10px; }

.iconWsp {
  border-radius: 20px; }

/*TEXTO ARRIBA DE REDES SOCIALES EN LAS 5 PAGINAS con map get*/
.colorWsp {
  font-family: "Dosis";
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 100;
  background-color: #ff914d;
  border-radius: 100px; }

/*TEXTO DE LAS CARDS DEL INDEX*/
.card-text {
  font-family: "Dosis", sans-serif;
  font-size: large;
  color: #ff914d;
  margin-top: 40px; }

.card-body {
  background-color: #f8e4b0;
  color: #ff914d; }

.claseFormu {
  font-family: "Dosis", sans-serif;
  color: #ff914d;
  font-weight: 100;
  font-size: 30px; }

/*CAMBIOS EN EL BOTON ENVIAR DEL FORMULARIO DE CONTACTO*/
.botonEnviar {
  background-color: #ff914d;
  color: white;
  border-color: #ff914d;
  border-radius: 10px;
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px; }

/*ESTILO AL MAPA*/
.bordeMapa {
  border-radius: 15px; }
