/*CAMBIOS EN EL BOTON ENVIAR DEL FORMULARIO DE CONTACTO*/
.botonEnviar {
    background-color: #ff914d;
    color: white;
    border-color: #ff914d;
    border-radius: 10px;
    font-family: "Dosis", sans-serif;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}
/*ESTILO AL MAPA*/
.bordeMapa {
    border-radius: 15px;
}