/*CAMBIOS EN EL BOTON ENVIAR DEL FORMULARIO DE CONTACTO*/
.botonEnviar {
    background-color:$colorNaranja;
    color: $letraPrincipal;
    border-color: $colorNaranja;
    border-radius: 10px;
    font-family: "Dosis", sans-serif;
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
}
/*ESTILO AL MAPA*/
.bordeMapa {
    border-radius: 15px;
}
