/*ACA ESTAN LOS ESTILOS QUE SE COMPARTEN EN TODAS LAS PAGINAS*/
/*cambio de color del nav y body*/
.bg-durazno {
    background-color: $colorPrincipal;
}

/*mi logo en el NAVBAR*/
.redondo {
    border-radius: 150px;
}

/*el NAVBAR  de Bootstrap */
.navbar {
    font-family: "Dosis", sans-serif;
    font-size: x-large;
}

/*cambio de colores del navbar*/
.navbar-nav {
    --bs-navbar-color: #ff914d;
    --bs-navbar-hover-color: #ff914d;
    --bs-navbar-disabled-color: #ff914d;
    --bs-navbar-active-color: #ff914d;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: #ff914d;
    --bs-navbar-brand-hover-color:#ff914d;
    --bs-navbar-toggler-border-color:#ff914d;
}

/*TITULOS DEBAJO DEL NAV DE TODAS LAS PAGINAS */
.horarioCopal {
    font-family: "Dosis", sans-serif;
    text-align: center;
    color:$letraPrincipal;
    font-weight: 100;
    font-size: 30px;
    background-color:$colorNaranja;
    border-radius: 10px;
}

/*TEXTO ARRIBA DE REDES SOCIALES EN LAS 5 PAGINAS*/
.colorWsp {
    font-family: "Dosis", sans-serif;
    text-align: center;
    color: $letraPrincipal;
    font-weight: 100;
    font-size: 30px;
    background-color: $colorNaranja;
    border-radius: 100px;
}

.iconWsp {
    border-radius: 20px;
}