/*TEXTO DE LAS CARDS DEL INDEX*/
.card-text {
    font-family: "Dosis", sans-serif;
    font-size: large;
    color: #ff914d;
    margin-top: 40px;
}

.card-body {
    background-color: #f8e4b0;
    color: #ff914d;
}