/*TEXTO DE LAS CARDS DEL INDEX*/
.card-text {
    font-family: "Dosis", sans-serif;
    font-size: large;
    color: $colorNaranja;
    margin-top: 40px;
}

.card-body {
    background-color:$colorPrincipal;
    color: $colorNaranja;
}