/*ARREGLO DEL TEXTO DE PAG SERVICIOS*/
.colorTexto{
    font-family: "Dosis", sans-serif;
    font-size:larger;
    color:$letraPrincipal;
    margin-top: 40px;
    background-color: $colorNaranja;
    padding:20px;
    justify-content: center;
}